@import 'var', 'mix';

.callback {
	position: fixed;
	right: 0;
  background-color: $colorWhite;
  width: 320px;
  z-index: 200;
  transform: translateX(513px);
	transition: transform 0.8s;
  height: 100%;
	border-left: 1px solid $colorLayout;
    @media (min-width: $widescreen) {
      width: 440px;
    }

  .round-icon--callback {
  background-image: url(../img/mobile_menu/burger.svg);
  margin-top: 24px;
  margin-left: 16px;
	
    @media (min-width: $widescreen) {
      position: absolute;
      margin-top: 0;
      top: 32px;
      left: -88px;
    }
  }

.callback-title {
    margin-top: 32px;
		display: flex;
		align-items: center;
		height: 40px;
		display: flex;
		align-items: center;
		gap: 12px;
		font-weight: 700;
		font-size: 24px;
		line-height: 32px;
		letter-spacing: -0.6px;
		&__img {
			height: 40px;
			width: 4px;
			background-image: url(../img/title/highlight.svg);
		}
	}

    input {
      box-sizing: border-box;
      padding: 16px 0 16px 12px;
      font-family: TT Lakes;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
    }
    p {
      margin-right: 16px;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0px;
        .text-color--red {
            color: $colorRed;
        }
    }
    
  }


.callback--active {
	display: block;
  z-index: 300;
  transform: translateX(0);
	box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
		// @media (min-width: 1440px) {
		// 	right: auto;
		// 	transform: translateX(1000px);
		// 	// чтоб не было по центру страницы закоментировать этот media
		// }
}