@import 'var', 'mix';

.swiper-conteiner {

	background-color: $colorFon;
	.swiper {
		padding-left: 16px;	
			@media (min-width: $tablet) {
				padding-left: 24px;
			}
			@media (min-width: $widescreen) {
				padding-left: 32px;
			}
			&__shadow {
				height: 100%;
			}
	}
	&__title-section {
	margin: 0;
	font-weight: 400;
	text-transform: uppercase;
	padding-bottom: 24px;
	text-transform: uppercase;
	color: $colorTextBlock;
		.green-line {
			height: 1px;	
			border-radius: 1px;
			background: $colorGreenLine;
		}
		h2 {
			background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%); 
			padding: 16px;
			color: $colorTextBlock;
				@media (min-width: $tablet) {
					padding: 16px 24px;
				}
				@media (min-width: $widescreen) {
					padding: 16px 32px;
				}
		}
	}
}

.swiper {
	&__shadow {
			background: linear-gradient(270deg, #F8F8F8 16.84%, #F8F8F800 100%);
			width: 24px;
			position: absolute;
			// z-index: 100;
			right: 0;
				@media (min-width: $tablet) {
					display: none;
				}
		}
		
	&-wrapper {
		display: flex;
		gap: 16px;
		.swiper-slide {
			margin: 0;
		}
		}
		@media (min-width: $tablet) {
			margin-left: 0;
			margin-right: 0;
			&-wrapper {
				display: flex;
				flex-wrap: wrap;
	
			}
		}
	&-pagination {
			padding-top: 16px;
			position: static;
				@media (min-width: $tablet) {
					display: none;
				}
		}

	.expand-button {
		display: none;
			@media (min-width: $tablet) {
				padding-top: 24px;
				display: flex;
				gap: 8px;
				border: none;
					&__img {
						background-image: url(../img/body/expand.svg);
						width: 24px;
						height: 24px;
					}
		}	
	}
}

.title-span {
	display: none;
	@media (min-width: $tablet) {
		display: flex;
		margin: 0 24px;
		justify-content: space-between;
		margin-bottom: 16px;
		span {
		color: $colorTextBlock;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0px;
		opacity: 0.72;
	}
	&__span1 {
		display: block;
		margin-left: 16px;
		width: 348px;
	}
	&__span2 {
		display: block;
		// margin: 0 16px;
		width: 74px;
	}
	&__span3 {
		display: block;	
		width: 81px;
	}
	&__span4 {
		display: block;
		margin-right: 16px;
		width: 119px;
	}
	}
	// @media (min-width: $sc)
	
}

.expand-button--expand > .expand-button__img {
	rotate: 180deg;
}