@font-face{
	font-family: TT-Lakes;
	font-weight: 500;
	src:url('/src/fonts/TTLakes/TTLakes-Medium.woff');
	// src:url('/fonts/TTLakes/TTLakes-Medium.woff');
}

@font-face{
	font-family: TT-Lakes;
	font-weight: 700;
	src:url('/src/fonts/TTLakes/TTLakes-Bold.woff');
}

@font-face{
	font-family: TT-Lakes;
	font-weight: 400;
	src:url('/src/fonts/TTLakes/TTLakes-Regular.woff');
}