$colorFon: #F8F8F8;
$colorWhite: #FFFFFF; 
$colorShadow: #D9FFF5;
$colorTextBlock: #7E7E82;
$colorBlack: #1B1C21;
$colorGreenLine: #D9FFF5;
$colorRed: red;
$colorFormBorder: #EAEAEA;
$colorLayout: #D9FFF5;
$mobil: 320px;
$tablet: 768px;
$widescreen: 1366px;
// $desctop: 1366px;
// $widescreen: 1440px;